main {
    display: flex;
}

.feed {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 20%;

}

.title {
    font-size: var(--font-900);
    text-align: left;
}

.filter {
    cursor: pointer;
}

.bottom {
    width: 80%;
    height: 80%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 50px;
}

.recipes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
    overflow-y: scroll;
    scrollbar-width: 3px;
    scrollbar-color: var(--secondary) transparent; 
    height: 80%;
  }
  

.recipes::-webkit-scrollbar {
    width: 12px;
  }
  
.recipes::-webkit-scrollbar-track {
    background: linear-gradient(135deg, #7873f5, #4ade80);
    border-radius: 10px;
}
  
.recipes::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #ff6ec4, #7873f5);
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
}
  
.recipes::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #fcb045, #fd1d1d, #833ab4);
    border: 2px solid #fff;
}
  
  @media (max-width: 768px) {
    .recipes {
      grid-template-columns: 1fr;
    }
  }

.searchBar {
  padding: 10px 16px;
  font-size: 16px;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  outline: none;
  background-color: #1f1f1f;
  color: white;
  width: 250px;
  transition: border 0.3s ease;
}

.searchBar:focus {
  border-color: white;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.search img {
  width: 35px;
  height: 35px;
}
