.main {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30vh;
    width: 75vw;
    height: 100vh;
}

.logoname {
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
    align-self: flex-start;
    padding: 20px;
}

.name {
    font-size: var(--font-700);
    text-align: center;
}

.formsection {
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    justify-self: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.title {
    margin-bottom: 50px;
}

.form input {
    padding: 20px;
    width: 60%;
    border-radius: 50px;
    border: 1px solid var(--text);
    background-color: var(--primary);
    color: var(--text);
}

::placeholder {
    opacity: 100%;
    color: var(--text);
    font-weight: bold;
}

.form button {
    margin-top: 30px;
    border-radius: 50px;
    font-weight: bold;
    background-color: var(--secondary);
    color: var(--primary);
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    font-size: 1rem;
}

.side {
    background-color: var(--secondary);
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.side button {
    background-color: var(--primary);
    color: var(--text);
    padding-left: 25%;
    padding-right: 25%;
    border-radius: 20px;
} 

.side button:hover {
    background-color: var(--primary);
    opacity: 80%;
}

.side p,
.side strong {
    color: var(--primary);
    width: 60%;
    text-align: center;
}

